.userContainer
  .container
    .userContainerHeader
      %h1.userContainerHeader__left
        = link_to root_path, class: "upperHomeLink" do
          = image_tag("/material/logo/logo.png",class: "logo")
    %nav.userSignupBar
      %ol.userSignupBarProgress2
        %li.userSignupBarProgress2__type
          会員情報
          .userSignupBarProgress2__rod-red-first
        %li.userSignupBarProgress2__type
          電話番号登録
          .userSignupBarProgress2__rod-red-second
        %li.userSignupBarProgress2__type
          お届け先住所入力
          .userSignupBarProgress2__rod-red-second
        %li.userSignupBarProgress2__type-red
          支払い方法
          .userSignupBarProgress2__rod-red
        %li.userSignupBarProgress2__type
          完了
          .userSignupBarProgress2__rod-last
  .signUpCreditCard
    .signUpCreditCardBox
      %h2.signUpCreditCardBox__title
        クレジットカード情報入力
      = form_with model: @credit_card, url: users_sign_up_credit_card_path, class: "creditCardForm",id: "cardCreateForm",local: true do |f|
        .signUpCreditCardBlock
          .inputCreditCardBlock
            %label.confirmationCcTitle(for="cardnumber-input")
              カード番号
            %span.confirmationCcTitle__condition
              必須
            = f.text_field :customer_id,name: "card_number", placeholder: "半角数字のみ", class: "confirmationCcTitleForm",maxlength: "16",id:'card-number'
            %label.confirmationCcTitle
              有効期限
            %span.confirmationCcTitle__condition
              必須
            .inputCreditCardBlock__date
              = f.select :exp_month, [["01",1],["02",2],["03",3],["04",4],["05",5],["06",6],["07",7],["08",8],["09",9],["10",10],["11",11],["12",12]],{} , class: 'dateSelect', name: 'exp_month',id:"credit_exp_month"
              月
              = f.select :exp_year, [["20",2020],["21",2021],["22",2022],["23",2023],["24",2024],["25",2025],["26",2026],["27",2027],["28",2028],["29",2029]],{} , class: 'dateSelect', name: 'exp_year',id: "credit_exp_year"
              .expiration-text 年
            %label.confirmationCcTitle
              セキュリティコード
            %span.confirmationCcTitle__condition
              必須
              = f.text_field :cvc,name: "card_number", placeholder: "カード背面4桁もしくは3桁の数字", class: "confirmationCcTitleForm",maxlength: "4",id: 'cvc'
              = f.submit "登録する", class: "creditCardBtn",  id: 'card_token'
  .exbitFooter
    .exbitFooter__content
      = link_to "プライバシーポリシー", "", class: "policy"
      = link_to "フリマ利用規約", "", class:  "policy"
      = link_to "特定商取引先に関する表記", "", class:  "policy"
    = link_to root_path, class: "homelink" do
      = image_tag("/material/logo/logo-white.png",class: "footerLogo")
    %p
      %samll © 2020 Fmarket