.itemBuy--wrapper
  .exbitHeader
    =link_to  root_path, class: "homeLink" do
      = image_tag("/material/logo/logo.png",class: "upperLogo")
  .info
    .title
      購入内容の確認
    .itemDetails
      .itemDetails__image
        = image_tag @item_images.first.image_url
      .itemDetails__name
        = @item.name
    .paymentAmount
      .payment__title
        支払い金額
        %span.price
          = "¥#{@item_price}"
    .paymentWay
      = link_to "変更する >", root_path,class: "change__btn"
      .paymentWay__title
        支払い方法
      .paymentWay__cardInfo
        クレジットカード
        %span
          = "**** **** **** " + @card_info.last4
        %span
          有効期限
          = @exp_month + " / " + @exp_year
        = image_tag asset_path("credit_cards/#{@card_image}"),width:'50',height:'50', class: "creditCardInfo__logo"
    .deliveryDestination
      = link_to "変更する >", root_path,class: "change__btn"
      .destination
        配送先
        .destination__info
          .destination__info__postcode
            = "〒#{@address.post_code}"
          .destination__info__address
            = @item.prefecture.name
            = @address.city
            = @address.house_number
            = @address.building_name
          .destination__info__name
            = @address.delivery_family_name
            = @address.delivery_first_name
    .buy
      .buy__box
        %button.buy__box__btn
          =link_to item_orders_path, method: :post do
            購入する
  .exbitFooter
    .exbitFooter__content
      = link_to "プライバシーポリシー", "", class: "policy"
      = link_to "フリマ利用規約", "", class:  "policy"
      = link_to "特定商取引先に関する表記", "", class:  "policy"
    = link_to root_path, class: "homelink" do
      = image_tag("/material/logo/logo-white.png",class: "footerLogo")
    %p
      %samll © 2020 Fmarket

              