.itemBuy--wrapper
  .exbitHeader
    =link_to  "", class: "homeLink" do
      = image_tag("/material/logo/logo.png",class: "upperLogo")
  .info
    .title
      購入内容の確認
    .itemDetails
      .itemDetails__image
        -# = image_tag @item_images.first.image_url
      .itemDetails__name
        -# = @item.name
        .itemDetails__name__prices
          %span
            送料込み(税込)
            %span.itemDetails__name__prices__price
              -# = "¥#{@item.price}"
    .paymentAmount
      .payment__title
        支払い金額
        %span.price
          -# = "¥#{@item.price}"
    .deliveryDestination
      = link_to "変更する >", "",class: "change__btn"
      .destination
        配送先
        .destination__info
          .destination__info__postcode
            -# = @delivery_destination.post_code
          .destination__info__address
            -# = @delivery_destination.prefecture_code.name
            -# = @ddelivery_destination.city
            -# = @delivery_destination.house_number
            -# = @delivery_destination.building_name
          .destination__info__name
            -# = @delivery_destination.delivery_family_name
            -# = @delivery_destination.delivery_first_name
    .buy
      .buy__box
        = form_tag(action: :create, method: :post) do
          %script.payjp-button{:src => "https://checkout.pay.jp", :type => "text/javascript" ,"data-text" => "購入する" ,"data-key" => "sk_test_06bddb18bd42858d62d8d2d3"}
  .exbitFooter
    .exbitFooter__content
      = link_to "プライバシーポリシー", "", class: "policy"
      = link_to "フリマ利用規約", "", class:  "policy"
      = link_to "特定商取引先に関する表記", "", class:  "policy"
    = link_to root_path, class: "homelink" do
      = image_tag("/material/logo/logo-white.png",class: "footerLogo")
    %p
      %samll © 2020 Fmarket