.exbitHeader
  =link_to  root_path, class: "homeLink" do
    = image_tag("/material/logo/logo.png",class: "upperLogo")
%main.singleMain
  .userLoginPageBlock
    .userCreate
      %p.userCreate__explanation アカウントをお持ちでない方はこちら
      =link_to "新規会員登録", new_user_registration_path, class: 'userCreate__btn'
    -# .userLoginSnsMethod
    -#   = link_to root_path, class: 'userLoginSnsMethod__facebook', method: :post do
    -#     = icon('fab', 'facebook-square', class: 'icon')
    -#     Facebookでログイン
    -#   = link_to root_path, class: 'userLoginSnsMethod__google', method: :post do
    -#     = icon('fab', 'google', class: 'icon')
    -#     Googleでログイン
    .userLoginForm
      = form_with model: @user, url: new_session_path(resource_name), html: { class: "userLoginForm__form"}, local: true do |f|
        .formField
          = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", class: "userLoginForm__email"
        .formField
          = f.password_field :password, class: "userLoginForm__password", placeholder: "パスワード"
        .recaptchaBlock
          -# "ロボットではありません"
          
        .actions
          = f.submit "ログイン", class: "loginBtn"
          = link_to "パスワードをお忘れの方", root_path, class: 'forgotPasswordBtn'
.exbitFooter
  .exbitFooter__content
    = link_to "プライバシーポリシー", "", class: "policy" 
    = link_to "フリマ利用規約", "", class:  "policy" 
    = link_to "特定商取引先に関する表記", "", class:  "policy"
  = link_to root_path, class: "homelink" do
    = image_tag("/material/logo/logo-white.png",class: "footerLogo")
  %p 
    %samll © 2020 Fmarket
