%header
  .innerHeader
    .innerHeader__upperHeader
      .image
        = link_to image_tag("/material/logo/logo.png", class: "image__logo"), "#"
      .searchBox
        = form_with url: search_items_path, method: :get, class: "searchForm", local: true do |f|
          = f.text_field :keyword, class: "searchForm__input", placeholder: "キーワードから探す"
          %button{type: "submit", class: "searchForm__btn"}
            = image_tag("/material/icon/icon-search1.png", class: "searchForm__btn__img")
    %nav.innerHeader__lowerHeader
      %ol.leftList
        %li.leftList__category
          = link_to "カテゴリー","#", class: "link"
        %li.leftList__brand
          = link_to "ブランド","#",class: "link"
      - if user_signed_in?
        %ol.rightList
          %li.rightList__mypage
            = link_to "マイページ",user_path(current_user.id), class: "link"
          %li.rightList__memberRegistration
            = link_to "ログアウト", destroy_user_session_path, method: :delete,class: "link"
      - else
        %ol.rightList
          %li.rightList__login
            = link_to "ログイン",user_session_path, class: "link"
          %li.rightList__memberRegistration
            = link_to "新規会員登録", new_user_registration_path, class: "link"